@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Login Authorize</h2>
    <p class="lead">Aplicação ASP.NET Web usando NET Framework 4.8, base de dados SQL LocalDB e persistência com Entity Framework</p>
    <p><a href="https://github.com/henriqueag?tab=repositories" class="btn btn-primary btn-lg" target="_blank">Repositório do projeto &raquo;</a></p>
</div>